doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title AAR TEAM

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Simulasi Pembuatan SIM C
        <img src ="../gambar2.jpg" class="gambar2">
        
        p Nama Kelompok : AAR TEAM
        p Nama : Alfonso Daniel
        p NIM  : 121112589
        p Nama : Awaluddin Sagala
        p NIM  : 121111567
        p Nama : Muhammad Riski Rambe
        p NIM  : 121111567

      section
        h2 SIM dan Peratura perundang-undangannya
        p Surat Izin Mengemudi (SIM) adalah bukti registrasi dan identifikasi yang diberikan oleh Polri kepada seseorang yang telah memenuhi persyaratan administrasi, sehat jasmani dan rohani, memahami peraturan lalu lintas dan terampil mengemudikan kendaraan bermotor. Setiap orang yang mengemudikan Kendaraan Bermotor di Jalan wajib memiliki Surat Izin Mengemudi sesuai dengan jenis Kendaraan Bermotor yang dikemudikan (Pasal 77 ayat (1) UU No.22 Tahun 2009).
		
		p Peraturan perundang-undangan terbaru adalah Undang-Undang Nomor 22 Tahun 2009 yang menggantikan Undang-Undang Nomor 14 Tahun 1992. UU No. 14 Tahun 1992 telah dicabut dan dinyatakan tidak berlaku, tetapi Peraturan Pemerintah Nomor 44 Tahun 1993 yang menjelaskan UU No. 14 Tahun 1992 dinyatakan tetap berlaku sepanjang tidak bertentangan atau belum diganti dengan yang baru berdasarkan UU No. 22 Tahun 2009.

        

      section
        h2 Jenis jenis SIM
        <img src ="../sim.jpg" class="gambar1">		
			1. Surat Izin Mengemudi Kendaraan Bermotor perseorangan
			2. Surat Izin Mengemudi Kendaraan Bermotor Umum
		
      section
        h2 Sekian
        h2 Dan
        h2 Terimakasih
        

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild