doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title AAR TEAM

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Simulasi Pembuatan SIM C
        <img src ="../gambar2.jpg" class="gambar2">
        
        p Nama Kelompok : AAR TEAM
        p Nama : Alfonso Daniel
        p NIM  : 121112589
        p Nama : Awaluddin Sagala
        p NIM  : 121111567
        p Nama : Muhammad Riski Rambe
        p NIM  : 121111567

      section
        h2 Jenis jenis SIM
        p 1. Surat Izin Mengemudi Kendaraan Bermotor Perseorangan
        p 2. Surat Izin Mengemudi Kendaraan Bermotor Umum

      section
        h2 Golongan SIM Perseorangan
        p - SIM A, untuk mengemudikan mobil penumpang dan perserorangan dengan jumlah berat yang diperbolehkan tidak melebihi 3.500 kg.		
        p - SIM B, untuk mengemudikan mobil penumpang dan barang perseorangan dengan jumlah berat yang diperbolehkan lebih dari 3.500 kg.
        p - SIM B2, untuk mengemudikan Kendaraan alat berat, Kendaraan penarik, atau Kendaraan Bermotor dengan menarik kereta tempelan atau gandengan perseorangan dengan berat yang diperbolehkan untuk kereta tempelan atau gandengan lebih dari 1.000 kg.
        p - SIM C, untuk mengemudikan Sepeda Motor.
        p -SIM D, untuk mengemudikan kendaraan khusus bagi penyandang cacat.
		
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild